{% extends "base.html" %}


{% block title %}Каталог{% endblock title %}

{% block navbar_catalogue %}class="active"{% endblock navbar_catalogue %}

{% block content %}
{% comment %}<table class="catalogue_list table-striped">
<thead>
<td><strong>Навание</strong></td>
<td><strong>Описание</strong></td>
<td><strong>Цена</strong></td>
</thead>
{% for each in item %}
<tr>
<td><a href = "{%url 'detail_view' each.id %}">{{ each.name }}</td>
<td>{{ each.description|truncatechars:80 }}</td>
<td>{{ each.price }} грн.</td>
</tr>
{% endfor %}
</table>
{% endcomment %}

<div align="center">
{% for each in item %}
<div class="cat"><table class="catalogue_list"><tr><td><img class = "catalogue_image" src="/{{ each.imagename }}" alt= "{{ each.name }}"/></td></tr>
<tr><td><a href = "{%url 'detail_view' each.id %}">{{ each.name }}</a></td></tr>
<tr><td>{{ each.description|truncatechars:80 }}</td></tr>
<tr><td>{{ each.price }}</td></tr></table>
</div>
{% endfor %}
</div>
{% endblock content %}